{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

        <!-- Hero Start -->
        <div class="hero-section section d-lg-flex align-items-lg-start justify-content-lg-center">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Hero Content Start -->
                        <div class="hero-content">
                            <h2 class="title">{% get_or_create_content 'Кафедра Прикладной математики и информатики' %}</h2>
                            <p>{% get_or_create_content 'Кафедра «Прикладная математика» КГТУ им. И. Раззакова была образована 30 сентября 2004 года (Приказ № 63). В сентябре 2014 года в связи с реорганизацией кафедры «Прикладная математика» была создана кафедра «Прикладная математика и информатика» (далее «ПМИ»). Приказом ректора 1/135 от 01.09.2022 г., в связи с приданием КГТУ особого статуса и реорганизацией, кафедра «Прикладная математика и информатика» включила в себя одноименную кафедру КГУСТА.' %}</p>

                        </div>
                        <!-- Hero Content End -->
                    </div>
                </div>
            </div>
            <!-- Hero Image Start -->
            <div class="hero-images">
                <div class="image">
                    <img src="{% static 'assets/images/politeh.jpg' %}" alt="">
                </div>
                <div class="shape-1 parallaxed">
                    <img src="{% static 'assets/images/shape/shape-1.png' %}" alt="">
                </div>
                <div class="shape-2 parallaxed">
                    <img src="{% static 'assets/images/shape/shape-2.png' %}" alt="">
                </div>
                <!-- Hero Image End -->
            </div>

        </div>
        <!-- Hero End -->

        <!-- Courses Start -->
        <div class="section section-padding">
            <div class="container">
                <!-- Section Title Start -->
                <div class="section-title text-center">
                    <h2 class="title">{% get_or_create_content 'Кафедра ПМИ' %}</h2>
                </div>
                <!-- Section Title End -->

                <div class="section team-2-section section-padding">
            <div class="container">
                <!-- Team Item Wrapper Start -->
                <div class="team-2-item-wrapper our-team-wrap">
                    <div class="row">
                        {% for i in directors %}
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <!-- Single Team Start -->
                            <div class="single-team">
                                <div class="team-img">
                                    <a href="{% url 'teacher_detail' i.pk %}"><img src="{{ i.image.url }}" alt="team"></a>
                                </div>
                                <div class="team-content">
                                    <div class="team-name-deg">
                                        <h5 class="name"><a href="{% url 'teacher_detail' i.pk %}">{{ i.name }}</a></h5>
                                        <span class="team-deg">{{ i.profission }}</span>
                                    </div>
                                    <div class="team-share">
                                        <span><i class="fas fa-share-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Team End -->
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Team Item Wrapper End -->
            </div>
        </div>
                <!-- View Courses End -->
            </div>
        </div>


        <div class="section section-padding">
            <div class="container">
                <!-- Section Title Start -->
                <div class="section-title text-center">
                    <h2 class="title">{% get_or_create_content 'Наши направлении' %}</h2>
                </div>
                <!-- Section Title End -->

                <!-- Courses Wrapper Start -->
                <div class="courses-wrapper">
                    <div class="row">
                        {% for i in cafedras %}
                        <div class="col-lg-3 col-sm-6">
                            <!-- Single Courses Start -->
                            <div class="single-course">
                                <!-- Courses Image Start -->
                                <div class="courses-image">
                                    <a href="{% url 'cafedra_detail' i.pk %}"><img src="{{ i.image.url }}" alt="Courses"></a>
                                    <div class="top-meta">
<!--                                        <div class="categories">-->
<!--                                            <a class="tag color-1" href="#">{{ i.title }}</a>-->
<!--                                        </div>-->
                                        <div class="wishlist">
                                            <a href="{% url 'cafedra_detail' i.pk %}"><i class="far fa-bookmark"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Courses Image End -->
                                <!-- Courses Content Start -->
                                <div class="courses-content">

                                    <h3 class="title"><a href="{% url 'cafedra_detail' i.pk %}">{{ i.title }}</a></h3>
                                </div>
                                <!-- Courses Content End -->
                                <!-- Courses Meta Start -->
                                <div class="courses-meta">
                                    <div class="course-enroll-rating d-flex">
                                        <p><i class="flaticon-user"></i> 4</p>
<!--                                        <p><i class="flaticon-star-1"></i> 1</p>-->
                                    </div>
<!--                                    <div class="price">-->
<!--                                        <span>£59.99</span>-->
<!--                                    </div>-->
                                </div>
                                <!-- Courses Meta End -->

                            </div>
                            <!-- Single Courses End -->
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <!-- Courses Wrapper End -->
                <!-- View Courses Start-->
                <div class="view-all-courses">
                    <div class="view-courses-content">
                        <h3 class="title">{% get_or_create_content 'Посмотри все направлении' %}</h3>
                    </div>
                    <a class="btn" href="{% url 'cafedras' %}">{% get_or_create_content 'Посмотреть все направлении' %}</a>
                </div>
                <!-- View Courses End -->
            </div>
        </div>
        <!-- Courses End -->

        <!-- Expert Track Start -->
        <div class="section expert-track-section" style="background-image: url({% static 'assets/images/politeh.jpg' %});">
            <div class="container">
                <!-- Expert Track Wrapper Start -->
                <div class="expert-track-wrapper">
                    <div class="row">
                        {% for i in news %}
                        <div class="col-xl-6 col-lg-12">
                            <!-- Expert Track Content Start -->
                            <div class="expert-track-content">
                                <h3 class="sub-title">{{ i.category }}</h3>
                                <h2 class="title">{{ i.title }}</h2>
                                <a class="btn" href="{% url 'news' %}">Посмотреть все новости</a>
                            </div>
                            <!-- Expert Track Content End -->
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Expert Track Wrapper End -->
            </div>
        </div>
        <!-- Expert Track Start -->

        <!-- Global Learner Start -->
        <div class="section global-learner-section section-padding-02">
            <div class="container">
                <!-- Global Learner Wrapper Start -->
                <p>{% get_or_create_content 'Кафедра «Прикладная математика» КГТУ им. И. Раззакова была образована 30 сентября 2004 года (Приказ № 63). В сентябре 2014 года в связи с реорганизацией кафедры «Прикладная математика» была создана кафедра «Прикладная математика и информатика» (далее «ПМИ»). Приказом ректора 1/135 от 01.09.2022 г., в связи с приданием КГТУ особого статуса и реорганизацией, кафедра «Прикладная математика и информатика» включила в себя одноименную кафедру КГУСТА.' %}
                </p>
                <br>
                <br>
<p>
    {% get_or_create_content 'Кафедру возглавляет доктор физико-математических наук, профессор, член-корреспондент НАН КР, Заслуженный работник образования Кыргызской Республики, академик Инженерной академии Кыргызской Республики, академик НАН Высшей школы Республики Казахстан, член-корреспондент Международной Инженерной академии М. Дж. Джаманбаев.' %}</p>
                <br><br>
                <p>

Миссия кафедры - овершенствование и развитие качественного образования путем реализации образовательных программ в сфере прикладной математики и информатики посредством обучения, исследований, инноваций в соответствие с потребностями общества, государства, бизнеса.
Целью кафедры:  подготовка высококвалифицированных бакалавров, магистров, аспирантов, владеющих знаниями в области прикладной математики, бизнес информатики и современных информационных технологий, обладающих универсальными и предметно-специализированными компетенциями, способствующими его социальной мобильности, устойчивости на рынке труда.

С 2011-2012 учебного года начинается подготовка бакалавров по направлению 510200 «Прикладная математика и информатика». В 2016-2017 учебном году  начинается подготовка магистров по направлению 510200 «Прикладная математика и информатика», профилю «Математическое моделирование».</p>
                <!-- Global Learner Wrapper End -->
            </div>
        </div>
        <!-- Global Learner End -->





        <!-- Brand Logo End -->
        <div class="section Brand-section">
            <div class="container">
                <!-- Brand Wrapper End -->
                <div class="brand-wrapper section-padding text-center">
                    <h3 class="brand-title">{% get_or_create_content 'Партнерство с ведущими мировыми университетами и компаниями' %}</h3>

                    <div class="brand-active">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {% for i in brands %}
                                <div class="swiper-slide single-brand">
                                    <img src="{{ i.image.url }}" alt="Brand">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Brand Wrapper End -->
            </div>
        </div>
{% endblock %}